<!-- src/main/resources/templates/fragments/footer.html -->
<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
  <footer class="bg-dark text-light pt-4 mt-5 border-top">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mb-3">
          <h5 class="fw-bold">Gobierno de la Ciudad de Buenos Aires</h5>
          <p class="mb-0">Consultas al <strong>147</strong>.</p>

        </div>
        <div class="col-md-6 mb-3">
          <h5 class="fw-bold">Seguinos</h5>
          <ul class="list-unstyled d-flex gap-3">
            <li><a href="https://www.facebook.com/GCBA" target="_blank" class="text-dark text-decoration-none">Facebook</a></li>
            <li><a href="https://twitter.com/gcba" target="_blank" class="text-dark text-decoration-none">Twitter</a></li>
            <li><a href="https://www.instagram.com/gcba/" target="_blank" class="text-dark text-decoration-none">Instagram</a></li>
            <li><a href="https://www.linkedin.com/company/gcba" target="_blank" class="text-dark text-decoration-none">LinkedIn</a></li>
          </ul>
        </div>
      </div>
      <div class="text-center py-3 border-top mt-3">
        <small>&copy; 2025 Agencia Gubernamental de Control. Todos los derechos reservados.</small>
      </div>
    </div>
  </footer>
</div>

